<html>
    <head>
        {% load static %}
        <title>add Receipt</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/taskServer/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/taskServer/css/main.css' %}">
        <script src="{% static '/taskServer/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static '/taskServer/js/main.js' %}"></script>
        <script src="{% static '/taskServer/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/taskServer/js/Chart.min.js' %}"></script>


    </head>
    <body>
        <canvas id="canvas1" width="200" height="200"></canvas>
        <canvas id="canvas2" width="200" height="200"></canvas>


<script>

    datas = []

    {% for d in dataset.norm %}
        datas.push(
         {
            label: "{{ d.labels | safe }}",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "{{d.backgroundColor | safe}}",
            borderColor: "{{d.borderColor | safe}}",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "{{ d.pointBorderColor | safe}}",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "{{ d.pointHoverBackgroundColor | safe}}",
            pointHoverBorderColor: "{{ d.pointHoverBorderColor | safe}}",
            pointHoverBorderWidth: 2,
            pointRadius: 5,
            pointHitRadius: 10,
            data: JSON.parse("{{ d.data | safe}}"),
            spanGaps: false,
        })
    {% endfor %}



    var ctx = $('#canvas1')
    var data = {
    labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"],
    datasets: datas
    };
    var myLineChart = Chart.Line(ctx, {
      data: data
    });

</script>

<script>
    datas2 = []
    {% for d in dataset.freq %}
        datas2.push(
         {
            label: "{{ d.labels | safe }}",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "{{d.backgroundColor | safe}}",
            borderColor: "{{d.borderColor | safe}}",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "{{ d.pointBorderColor | safe}}",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "{{ d.pointHoverBackgroundColor | safe}}",
            pointHoverBorderColor: "{{ d.pointHoverBorderColor | safe}}",
            pointHoverBorderWidth: 2,
            pointRadius: 5,
            pointHitRadius: 10,
            data: JSON.parse("{{ d.data | safe}}"),
            spanGaps: false,
        })
    {% endfor %}

    var ctx2 = $('#canvas2')
    var data2 = {
    labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"],
    datasets: datas2

    };
    var myLineChart2 = Chart.Line(ctx2, {
      data: data2
    });

</script>


    </body>
</html>